<div class="component">
  <div class="block">
    <div><input class="inputTxt"  type="text" [(ngModel)]="text" maxlength="15">
      <select class="selector" (change)="setColor($event.target.value)" >
        <option *ngFor="let color of colors" value={{color}} >{{color | translate}}</option>
      </select>
    </div>
    <button class="submitBtn btn" (click)="doFilter()">{{"APPLY" | translate}}</button>
    <button class="cleanBtn btn" (click)="clearFilter()">{{"CLEAN" | translate}}</button>
  </div>
</div>